@import "../../styles/global.css" root;

:root {
  --free-primary-color: #2cff2c;
  --free-secondary-color: #2c992c;
  --reserved-primary-color: #ffff2c;
  --reserved-secondary-color: #99992c;
  --occupied-primary-color: #ff0040;
  --occupied-secondary-color: #990040;
  --shutdown-color: #d3d3d3;
  --linux-color: #50c878;
  --windows-color: #007bd7;
  --timeout-color: #ce83d8;
  --error: #ff0000;
}

.main {
  background-color: var(--secondary-color);
  display: inline-block;
  height: 80vh;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
}

.article {
  background-color: var(--secondary-color);
  display: inline-block;
  height: 80vh;
  width: 70%;
  vertical-align: top;
  overflow: hidden;
}

.aside {
  background-color: var(--secondary-color);
  display: inline-block;
  height: 80vh;
  width: 30%;
  vertical-align: top;
  overflow: hidden;
}

/********** MAIN ROTATIVE **********/
.card, .endCard, .errorCard {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  border-radius: 25px;
}

.card {
  display: inline-block;
  width: 43%;
  height: 40%;
  vertical-align: top;
  margin: 1.5%;
  padding: 1.5%;
}

.card div {
  color: var(--primary-text-color);
  font-size: 2.15vw;
  margin: 5px;
}

.endCard, .errorCard {
  text-align: center;
  font-size: 5vw;
  width: 80%;
  margin: 5% auto;
  padding: 1em;
  vertical-align: center;
}

.errorCard {
  background-color: var(--error);
}

.classroom {
  margin-top: 2rem;
  width: 100%;
  height: 100%;
}

.shutdown, .linux, .windows, .linuxUser, .windowsUser, .timeout {
  width: 17%;
  height: 14%;
  margin: 0.9%;
  display: inline-block;
  font-weight: 900;
  text-align: right;
  font-size: 2.15vw;
  padding: 5px;
}

.classroomF {
  margin: 0.9%;
  display: inline-block;
  font-weight: 900;
  text-align: right;
  font-size: 2.15vw;
  padding: 5px;
  width: 11%;
  max-width: 11%;
  height: 27%;
  vertical-align: top;
}

.shutdown {
  background-color: var(--shutdown-color);
  background-image: url("./img/shutdown.png");
  background-size: 10vh;
  background-repeat: no-repeat;
  background-position: left center;
}

.linux {
  background-color: var(--linux-color);
  color: var(--primary-text-color);
  background-image: url("./img/tux.png");
  background-size: 10vh;
  background-repeat: no-repeat;
  background-position: left center;
}

.windows {
  background-color: var(--windows-color);
  color: var(--primary-text-color);
  background-image: url("./img/windows.png");
  background-size: 10vh;
  background-repeat: no-repeat;
  background-position: left center;
}

.linuxUser {
  background-color: var(--linux-color);
  color: var(--primary-text-color);
  background-image: url("./img/tux.png"), url("./img/user_white.png");
  background-size: 10vh, 7vh;
  background-repeat: no-repeat;
  background-position: left center, right bottom;
}

.windowsUser {
  background-color: var(--windows-color);
  color: var(--primary-text-color);
  background-image: url("./img/windows.png"), url("./img/user_white.png");
  background-size: 10vh, 7vh;
  background-repeat: no-repeat;
  background-position: left center, right bottom;
}

.timeout {
  background-color: var(--timeout-color);
  background-image: url("./img/timeout.png");
  background-size: 10vh;
  background-repeat: no-repeat;
  background-position: left center;
}

/********** ASIDE OCCUPATION **********/
@keyframes blink {
  to { background-color: var(--occupied-primary-color); }
}

.asideError {
  background-color: var(--error);
  color: var(--primary-text-color);
  border-radius: 25px;
  font-size: 4vw;
  text-align: center;
  width: 80%;
  margin: 5% auto;
  padding: 0.5em;
}

.asideClassrom {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: right
}

.free, .occupied, .reserved, .futureOccupied, .indicators {
  color: black;
  display: inline-block;
  border-bottom: 2px solid var(--secondary-color);
  border-top: none;
  line-height: 20vh;
  vertical-align: top;
}

.free, .occupied, .reserved, .futureOccupied {
  font-size: 5vw;
  text-align: center;
  width: 58%;
  height: 20vh;
}

.indicators {
  width: 42%;
  height: 20vh;
  text-align: left;
  line-height: 20vh;
}

.arrow {
  background-image: url("./img/arrow.png");
  background-size: 10vh;
  background-repeat: no-repeat;
  background-position: left top;
  background-position-y: 0;
}

.free {
  background-color: var(--free-primary-color);
}

.occupied {
  background-color: var(--occupied-primary-color);
}

.reserved {
  background-color: var(--reserved-primary-color);
}

.futureOccupied {
  background-color: var(--reserved-primary-color);
  animation: blink 1s steps(2, start) infinite
}

.selected {
  height: 24.8vh;
  line-height: 31vh;
  font-size: 5vw;
}

.unselected {
  height: 18.4vh;
  max-width: 40%;
  max-height: 20%;
  line-height: 23vh;
  font-size: 4.5vw;
}

.userIcon {
  max-height: 0.9em;
}