@import "../../styles/global.css" root;

.main {
  background-color: var(--secondary-color);
  display: inline-block;
  height: 80vh;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
}

.article {
  background-color: var(--secondary-color);
  display: inline-block;
  height: 80vh;
  width: 70%;
  vertical-align: top;
  overflow: hidden;
}

.aside {
  display: inline-block;
  height: 80vh;
  width: 30%;
  vertical-align: top;
  overflow: hidden;
}

/********** MAIN ROTATIVE **********/
.card, .endCard {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  /* border: 2px solid var(--primary-text-color); */
}

.card {
  border-radius: 15px;
  display: inline-block;
  width: 43%;
  height: 40%;
  vertical-align: top;
  margin: 1.5%;
  padding: 1.5%;
}

.card div {
  color: var(--primary-text-color);
  font-size: 2.12vw;
  margin: 5px;
}

.endCard {
  text-align: center;
  font-size: 6vw;
  width: 80%;
  height: 80%;
  margin: 5% auto;
  padding: 0.1em;
}

.title {
  color: var(--primary-text-color);
  font-size: 2.12vw;
  margin: 1.5%;
}

.shutdown, .linux, .windows, .linuxUser, .windowsUser, .timeout {
  width: 17%;
  height: 14%;
  margin: 0.9%;
  display: inline-block;
  font-weight: 900;
  text-align: right;
  font-size: 2.12vw;
  padding: 5px;
}

.shutdown {
  background-color: #ff0040;
  background-image: url("./img/shutdown.png");
  background-size: 10vh;
  background-repeat: no-repeat;
  background-position: left center;
}

.linux {
  background-color: #2cff2c;
  background-image: url("./img/tux.png");
  background-size: 10vh;
  background-repeat: no-repeat;
  background-position: left center;
}

.windows {
  background-color: #007bd7;
  color: var(--primary-text-color);
  background-image: url("./img/windows.png");
  background-size: 10vh;
  background-repeat: no-repeat;
  background-position: left center;
}

.linuxUser {
  background-color: #2cff2c;
  background-image: url("./img/tux.png"), url("./img/user.png");
  background-size: 10vh, 7vh;
  background-repeat: no-repeat;
  background-position: left center, right bottom;
}

.windowsUser {
  background-color: #007bd7;
  color: var(--primary-text-color);
  background-image: url("./img/windows.png"), url("./img/user.png");
  background-size: 10vh, 7vh;
  background-repeat: no-repeat;
  background-position: left center, right bottom;
}

.timeout {
  background-color: blueviolet;
  background-image: url("./img/timeout.png");
  background-size: 10vh;
  background-repeat: no-repeat;
  background-position: left center;
}

/********** ASIDE OCCUPATION **********/
@keyframes blink {
  to { background-color: #ff0040; }
}

.free, .occupied, .reserved, .futureOccupied {
  color: black;
  border-bottom: 2px solid var(--secondary-color);
  border-top: none;
  width: 100%;
  height: 25%;
  text-align: center;
  font-size: 4vw;
  line-height: 20vh;
}

.arrow{
  background-image: url("./img/arrow.png");
  background-size: 10vh;
  background-repeat: no-repeat;
  background-position: left top;
}

.free {
  background-color: #2cff2c;
}

.occupied {
  background-color: #ff0040;
}

.reserved {
  background-color: #ffff2c;
}

.futureOccupied {
  background-color: #ffff2c;
  animation: blink 1s steps(2, start) infinite
}