[Unit]
Description=custom web server writen in go
After=network.target

[Service]
User=<user>
Group=<group>
Type=simple
Restart=on-failure
RestartSec=2
WorkingDirectory=/usr/local/bin/
ExecStart=/usr/local/bin/rpi3_api_arm -conf /etc/rpi3_conf.json

[Install]
WantedBy=multi-user.target