* {
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100vh;
}

.header {
    background-color: greenyellow;
    height: 10%;
}

.header .title {
    display: inline-block;
    width: 75%;
}

.header .datetime {
    display: inline-block;
    width: 25%;
}

.article {
    background-color: lightblue;
    display: inline-block;
    height: 80%;
    width: 75%;
}

.aside {
    background-color: yellow;
    display: inline-block;
    height: 80%;
    width: 25%;
}

.footer {
    background-color: orange;
    height: 10%;
}