[Unit]
Description=Datacenter control and monitoring REST API
After=network.target

[Service]
User=lab
Group=lab
Type=simple
Restart=on-failure
RestartSec=2
WorkingDirectory=/usr/local/bin/
ExecStart=/usr/local/bin/rpi2_api_arm -conf /etc/rpi2_conf.json

[Install]
WantedBy=multi-user.target