[Unit]
Description=Checks if the light in the datacenter is turned on/off

[Service]
User=<user>
Group=<group>
Type=simple
Restart=on-failure
RestartSec=2
WorkingDirectory=/usr/local/bin/rpi1_cpd
ExecStart=/usr/bin/python3 /usr/local/bin/rpi1_cpd/light_watcher.py
PIDFile=/tmp/phlips_hue.pid

[Install]
WantedBy=multi-user.target