.card, .endCard {
  background-color: #99ccff;
  color: #000000;
  margin: 3%;
  padding: 3%;
  border: 2px solid #000000;
  border-radius: 15px;
}

.card div {
  color: #000000;
}

.endCard {
  text-align: center;
  font-size: 2em;
}

.classroom {
  font-size: 2em;
}