.marquee {
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.marquee pre {
  display: inline-block;
  font-size: 3vw;
  animation: marquee 45s linear infinite;
  padding: 1vh 0;
}

@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}

.error {
  font-size: 3vw;
  padding: 1vh 0;
  background-color: #ff0000;
  height: 100%;
  text-align: center;
}