.free, .occupied, .reserved {
  color: #000000;
  border: 2px solid #000000;
  border-top: none;
  width: 99.5%;
  height: 25%;
  text-align: center;
  font-size: 4em;
}

.free {
  background-color: greenyellow;
}

.occupied {
  background-color: red
}

.reserved {
  background-color: yellow
}