addrZ_default="192.168.1.222"
addr2_default="192.168.1.2"
port2_default="3002"
token2_default="top_secret_string"
addr3_default="192.168.1.3"
port3_default="3003"
hue_default="192.168.1.123"
secret_default="another_top_secret_string"
server_default="domain.name:port"
cmd_default="comprobar_ocupacion.py --au"
web_default="http://www.lab.inf.uc3m.es/informacion/ocupacion-de-las-aulas/ocupacion-diaria/"