:root {
  --primary-color: #22313f;
  --secondary-color: #34495e;
  --primary-text-color: #ffffff;
  --secondary-text-color: #262626;
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "-apple-system","BlinkMacSystemFont","Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","sans-serif";
  font-weight: 600;
}

.wrapper {
  height: 100vh;
}

.header {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  height: 10vh;
}

.headerTitle {
  display: inline-block;
  width: 70%;
  vertical-align: middle;
}

  .headerTitle h1 {
    padding: 0.5em 1em;
    font-size: 3em;
  }

.datetime {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
}

.main {
  background-color: var(--secondary-color);
  display: inline-block;
  height: 80vh;
  width: 70%;
  vertical-align: top;
  overflow: hidden;
}

.aside {
  display: inline-block;
  height: 80vh;
  width: 30%;
  vertical-align: top;
  overflow: hidden;
}

.footer {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  height: 10vh;
  vertical-align: top;
}