@import "../../styles/global.css" root;

@keyframes blink {
  to { background-color: #ff0040; }
}

.free, .occupied, .reserved, .futureOccupied {
  color: var(--secondary-text-color);
  border-bottom: 2px solid var(--secondary-color);
  border-top: none;
  width: 100%;
  height: 25%;
  text-align: center;
  font-size: 4vw;
  line-height: 20vh;
}

.free {
  background-color: #2cff2c;
}

.occupied {
  background-color: #ff0040;
}

.reserved {
  background-color: #ffff2c;
}

.futureOccupied {
  background-color: #ffff2c;
  animation: blink 1s steps(2, start) infinite
}